@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}

.main {
  background-image: url(background.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 60%;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  /* calc -> calculate function */
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}
/* Sign [ > ] used for immediate first child */
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.line {
  height: 7px;
  background-color: rgb(36, 36, 36);
}
.btn {
  padding: 3px 18px;
  font-weight: bold;
  font-size: 17px;
  background-color: rgba(59, 59, 59, 0.5);
  border-radius: 4px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
}
.btn-red-sm {
  background-color: red;
  color: whitesmoke;
  font-size: 15px;
  padding: 4px 10px;
  border-style: none;
}
.btn-red {
  background-color: red;
  color: whitesmoke;
  font-size: 20px;
  padding: 8px 30px;
  border-style: none;
  cursor: pointer;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.main input {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
  padding: 7px 50px 8px 14px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid
    rgba(rgb(172, 169, 169), rgb(173, 173, 173), rgb(198, 198, 199), 0.4);
}
.first {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  margin: auto;
  color: white;
  /* justify-content: center; */
  align-items: center;
}

@media screen and (max-width: 1405px) {
  .first {
    flex-wrap: wrap;
  }
}

.first-img {
  position: relative;
}
.first-img img {
  width: 30vw;
  position: relative;
  z-index: 10;
  margin-top: 50px;
}
.first-img video {
  position: absolute;
  top: 118px;
  right: 14px;
  width: 400px;
  height: 210px;
}
section.first > div {
  display: flex;
  flex-direction: column;
}
section.first > div :nth-child(1) {
  font-family: "Martel Sans", sans-serif;
  font-size: 32px;
  font-weight: 900;
}
section.first > div :nth-child(2) {
  /* font-family: "Martel Sans", sans-serif; */
  font-size: 20px;
  /* font-weight: 400; */
}
.faq h2 {
  background-color: black;
  color: whitesmoke;
  padding: 40px;
  margin: 5px;
  height: 10px;
  width: 60vw;
  font-size: 48px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}
.faq {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.faqbox {
  display: flex;
  background-color: rgb(44, 42, 42);
  color: whitesmoke;
  padding: 38px;
  margin: 5px;
  height: 10px;
  width: 60vw;
  font-size: 24px;
  font-family: "Martel Sans", sans-serif;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faqbox:hover {
  background-color: rgb(72, 69, 69);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: whitesmoke;
  max-width: 60vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-item > a {
  color: whitesmoke;
  margin: 10px;
  font-size: 14px;
  font-family: "Martel Sans", sans-serif;
}
.last {
  margin-top: 40px;
}
